<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.name}"></td>
                <td th:text="${course.description}"></td>
                <td th:text="${course.price}"></td>
                <td th:text="${course.hours}"></td>
            </tr>
        </tbody>
    </table>

    <hr>
    <br>

    <form th:action="@{/course/addcourse}" th:object="${course}" method="post">
        <label for="">Name:</label>
        <input type="text" name="" id="" th:field="*{name}">
        <br>
        <label for="">Description:</label>
        <input type="text" name="" id="" th:field="*{description}">
        <br>
        <label for="">Price:</label>
        <input type="number" name="" id="" th:field="*{price}">
        <br>
        <label for="">Hours:</label>
        <input type="number" name="" id="" th:field="*{hours}">
        <input type="submit" value="Enviar">
    </form>

</body>

</html>