<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ninja</title>
</head>
<body>
    <h1>Hello <span th:text="${nm_in_model}"></span>.</h1>
    
</body>
</html>