<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ninja</title>
</head>
<body>
    <table>
    	<thead>
    		<tr>
    			<th>Nombre</th>
    			<th>Edad</th>
    		</tr>
    	</thead>
    	
    	<tbody th:each="person : ${people}">
	    	<tr>
	    			<td th:text="${person.name}">Nombre</td>
	    			<td th:text="${person.age}">Edad</td>
	    	</tr>
    	</tbody>
    </table>
    
</body>
</html>