<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Person: <span th:text="${person.name}"></span> </h1>
Person: <span th:text="${person.age}"></span> 
</body>
</html>